{% extends 'layout.html' %}

{% block content %}

<div class="container-fluid">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Analytics</h1>
            <div class="container-fluid">
                <h3>Allgemeine Auswertung</h3>
                <div class="analytics pie">
                    <canvas id="myChart" value="{{umfrageteilnehmer}}"></canvas>
                </div>
                <div class="analytics bar">
                    <canvas id="barChart" value="{{unternehmensgroese}}"></canvas>
                </div>
            </div>
            <div class="container-fluid branche">
                <h3>Auswertung nach Branche</h3 >
                <div class="analytics dog">
                    <canvas id="dogChart" value="{{handelsbranche}}"></canvas>
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}