{% extends 'layout.html' %}

{% block content %}
{% load static %}

<div class="container-fluid">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Filter</h1>
            <form action="/filter/" method="get">
                <input type="checkbox" name="checkbox1" id="checkbox1">Dienstleistung</p>
                <input type="checkbox" name="checkbox2" id="checkbox2">Handel</p>
                <input type="checkbox" name="checkbox3" id="checkbox3">Produzierendes Gewerbe</p><br>
                <input type="checkbox" name="checkbox4" id="checkbox4">bis 19 Mitarbeiter</p>
                <input type="checkbox" name="checkbox5" id="checkbox5">20-49 Mitarbeiter</p>
                <input type="checkbox" name="checkbox6" id="checkbox6">50-249 Mitarbeiter</p>
                <input type="checkbox" name="checkbox7" id="checkbox7">ab 250 Mitarbeiter</p>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            {{value}}
        </div>
</div>

{% endblock %}