{% extends 'layout.html' %}

{% block content %}
{% load static %}

  <body>
    <div class="container-fluid">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>
          {{num}}

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <h1 class="display-1"><div id="shiva"><span class="count">{{ku}}</span></div></h1>
              <h4>Teilnehmende</h4>
              <span class="text-muted">Kleinstunternehmen</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <h1 class="display-1"><div id="shiva"><span class="count">{{kmu}}</span></div></h1>
              <h4>Teilnehmende</h4>
              <span class="text-muted">Klein- und Großunternehmen</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <h1 class="display-1"><div id="shiva"><span class="count">{{umfragenM}}</span></div></h1>
              <h4>Umfragen</h4>
              <span class="text-muted">in diesem Monat</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <h1 class="display-1"><div id="shiva"><span class="count">{{umfragenG}}</span></div></h1>
              <h4>Teilnehmende</h4>
              <span class="text-muted">Insgesamt</span>
            </div>
            
          </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>

{% endblock %}